 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-text-1 {
  font-family: HAMBURGER;
  margin: 35px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 285px;
  height: 622px;
  margin: -17px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: HAMBURGER;
  margin: -570px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-family: HAMBURGER;
  font-size: 1.5rem;
  font-style: italic;
  margin: 35px auto -159px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    width: 210px;
    height: 459px;
    margin-top: 104px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -533px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-image-1 {
    width: 114px;
    height: 249px;
    margin-top: 602px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: -821px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 251px;
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 65px;
    height: 142px;
    margin-top: 875px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -977px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 194px;
    margin-bottom: -83px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1463px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 24px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1160px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1272px;
    margin-right: -15px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 202px;
    margin-bottom: 34px;
  }
}@font-face {
  font-family: 'HAMBURGER';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HAMBURGER.ttf);
}