 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 742px;
}

.u-section-1 .u-text-1 {
  font-family: HAMBURGER;
  margin: 35px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 285px;
  height: 622px;
  margin: -17px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-family: HAMBURGER;
  margin: -535px 1px 0 483px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  font-family: HAMBURGER;
  font-size: 1.5rem;
  font-style: italic;
  margin: 224px auto 46px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 497px;
  }

  .u-section-1 .u-image-1 {
    width: 210px;
    height: 459px;
    margin-top: -87px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -327px;
    margin-right: 0;
    margin-left: 284px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 598px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-image-1 {
    width: 114px;
    height: 249px;
    margin-top: -52px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 52px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 43px;
    margin-bottom: 43px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 116px;
    height: 186px;
    margin-left: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 0;
  }
}@font-face {
  font-family: 'HAMBURGER';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HAMBURGER.ttf);
}