 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 685px;
}

.u-section-1 .u-image-1 {
  width: 424px;
  height: 448px;
  margin: 35px auto 0 38px;
}

.u-section-1 .u-image-2 {
  width: 607px;
  height: 282px;
  margin: -427px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-family: HAMBURGER;
  font-size: 1.25rem;
  font-style: italic;
  margin: 17px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  font-family: HAMBURGER;
  background-image: none;
  margin: 38px 0 0 auto;
  padding: 8px 40px 9px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  font-family: HAMBURGER;
  margin: 35px 63px 0 auto;
  padding: 10px 32px 10px 30px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-family: HAMBURGER;
  font-style: italic;
  font-size: 1.25rem;
  margin: 35px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 21px;
    margin-left: -50px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -434px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 21px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
    margin-right: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-top: 296px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -630px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
    margin-right: 25px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 93px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 89px;
    margin-bottom: -318px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 648px;
  }

  .u-section-1 .u-image-1 {
    width: 252px;
    height: 252px;
    margin-top: 321px;
  }

  .u-section-1 .u-image-2 {
    height: 251px;
    margin-top: -538px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 64px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 57px;
    margin-bottom: -183px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 143px;
    margin-left: -325px;
  }

  .u-section-1 .u-image-2 {
    height: 155px;
    margin-top: 35px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 103px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -107px;
    margin-right: auto;
    margin-bottom: -128px;
  }
}@font-face {
  font-family: 'HAMBURGER';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HAMBURGER.ttf);
}