 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-image-1 {
  width: 560px;
  height: 260px;
  margin: 39px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: HAMBURGER;
  font-size: 2.25rem;
  margin: 30px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 491px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 251px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 398px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 158px;
  }
}@font-face {
  font-family: 'HAMBURGER';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/HAMBURGER.ttf);
}